.calendar-tape {
  width: fit-content;
  will-change: transform;
  transition: transform var(--transition-base);
}

.pointer {
  position: absolute;
  width: var(--calendar-pointer-width);
  height: var(--height-pointer);
  background: var(--color-pointer);
  z-index: var(--z-header);
  left: var(--left-pointer-pos);
  top: var(--calendar-pointer-top);
  will-change: transform;
  transition: transform var(--transition-base);
}

.timetable-calendar {
  z-index: var(--z-base);
  display: flex;
  width: fit-content;
  will-change: transform;
  transition: transform var(--transition-base);
}
