@use "../../styles/helpers/mixins" as *;

$month-switcher-height: 44px;
$month-button-bg: #EEEEEE;
$month-button-hover-bg: rgba(220, 220, 220, 0.86);

.month-switcher {
  display: flex;
  height: $month-switcher-height;
  justify-content: space-between;
  margin: 0 var(--margin-m);
}

.month-button {
  padding: var(--padding-s) var(--padding-xl);
  border-radius: var(--radius-m);
  border: none;
  background-color: $month-button-bg;
  cursor: pointer;
  font-size: var(--font-size-m);
  font-weight: bold;
  transition: background-color var(--transition-fast);

  &:hover {
    background-color: $month-button-hover-bg;
  }

  &:focus-visible {
    @include focus-visible();
  }

  &:disabled {
    @include disabled();
  }

  &.choosen {
    background-color: var(--color-pointer);
    color: var(--color-white);
    cursor: default;
  }
}
