@use "../../styles/helpers/mixins" as *;

$cell-content-height: 70%;

.calendar-viewport {
  width: 100%;
  overflow: hidden;
  min-width: 0;
  position: relative;
}

.calendar-wrap {
  width: 100%;
  min-width: 0;
  overflow: hidden;
}
