.spin {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}
