@use "../../styles/helpers/mixins" as *;

$cell-content-height: 70%;

.cell {
  width: 66px;
  flex: 0 0 66px;
  height: var(--timetable-workers-height);
  background-color: var(--color-white);
  @include flex-center();
  font-family: var(--font-family-base), sans-serif;
  border-bottom: solid var(--color-border-default) var(--border-width-thin);
  box-sizing: border-box;
}

.current-date {
  background-color: var(--color-pointer);
  color: var(--color-white);
}

.cell-content {
  width: 100%;
  height: $cell-content-height;
  @include flex-center();
  flex-direction: column;
  border-right: solid var(--color-border-default) var(--border-width-thin);
  box-sizing: border-box;
}

.current-cell-content {
  border: none;
}

.weekday-name {
  color: #9D9CA3;
  font-size: var(--font-size-s);
}

.current-date-weekday {
  color: var(--color-white);
}